#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

/* Tailwind-compatible custom class to hide number spinners */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
